<div class="container header-main">
  <div class="header-main__top">
    <a href="/">
      <img
        src="/images/fullstock-logo.svg"
        alt="FullStock inicio"
        width="128
            "
        height="32"
      />
    </a>
    <div class="header-actions"></div>
  </div>
  <div class="separator header-main__separator"></div>
  <nav aria-label="Navegación principal" class="main-nav">
    <ul class="main-nav__list" role="menubar">
      <li class="main-nav__link">Polos</li>
      <li class="main-nav__link">Tazas</li>
      <li class="main-nav__link">Stickers</li>
      <li class="main-nav__link">Compañía</li>
    </ul>
  </nav>
</div>
