<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullStock</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <!-- 1. ¿Qué significa include?
      include es una función propia de EJS, no de Express.
      Sirve para reutilizar plantillas parciales.
      Un partial es un fragmento de HTML/EJS que quieres repetir en varias vistas (ejemplo: header, footer, navbar, etc.). -->
    <header><%- include('../partials/header.ejs') %></header>

    <main><%- body %></main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
