<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullStock</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <div class="root">
      <!-- 1. ¿Qué significa include?
      include es una función propia de EJS, no de Express.
      Sirve para reutilizar plantillas parciales.
      Un partial es un fragmento de HTML/EJS que quieres repetir en varias vistas (ejemplo: header, footer, navbar, etc.). -->
      <header class="root__header">
        <%- include('../partials/header.ejs', { categories })
        %>
      </header>

      <main><%- body %></main>

      <footer class="root__footer">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
  </body>
</html>
